.genresContainer {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-left: 150px;
    background: #0d0c22;
}
.genresListContainer {
    width: 100%;
    min-height: 90.25vh;
    background: url("/home-background.jpg") no-repeat bottom fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.genresListContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0d0c22, rgba(0, 0, 0, 0) 40%);
    pointer-events: none;
}
.genreListGrid {
    width: 100%;
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    gap: 70px;
}
.genreLink {
    text-decoration: none;
}
