.menu ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
.menu a {
    text-decoration: none;
    color: #f6f2f2;
    font-size: 1.1rem;
    transition: color 0.2s ease-in-out;
}
.menu a:hover {
    color: #135da6;
}
