.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    color:  #135da6;
    text-decoration: none;
}
.logo p:hover {
    color: #72ade8;
}
